/* Estilos generales para el contenedor de configuración */
.settings-container {
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
.settings-container > div > span {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.password-box{
    display: flex;
    align-items: center;
    gap: 10px
}

/* Estilos para el formulario de configuración */
.settings-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilos para cada contenedor de entrada en los formularios */
.settings-form .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settings-form label {
    font-weight: bold;
}

.settings-form input, 
.settings-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.settings-form input:focus, 
.settings-form select:focus {
    border-color: #6e6e6e;
}

/* Estilos para los botones */
.settings-form button, .save-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.5s ease;
}

.save-btn {
    background-color: #ececec;
    color: rgb(58, 154, 209);
}

.save-btn:disabled {
    background-color: #ececec;
    color: #d01515;
    cursor: not-allowed;
}

.save-btn:not(:disabled):hover {
    background-color: rgb(58, 154, 209);
    color: #fff;
    scale: 105%;
}

/* Estilos para la sección de desactivación de cuenta */
.deactivate-section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.deactivate-section button {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #ececec;
    color: #ff4d4f;
}

.deactivate-section button:hover {
    background-color: #ff4d4f;
    color: #fff;
}

.deactivate-section span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff4d4f;
}