.container {
  width: 100%;
  height: 100vh;
  background-image: url('https://artfiles.alphacoders.com/159/159209.jpg');
  background-size: cover;
  background-position: center;
}

.container-extra {
  width: 100%;
  height: 100%;
  background-image: url('https://artfiles.alphacoders.com/159/159209.jpg');
  background-size: cover;
  background-position: center;
}

.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-store-container {
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-box {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn-user {
  padding: 17px 40px;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.consumer-btn:hover,
.owner-btn:hover,
.zolve-btn:hover {
  scale: 105%;
  background-color: #153448;
  color: hsl(0, 0%, 100%);
}

.consumer-btn:active,
.owner-btn:active,
.zolve-btn:active {
  background-color: #153448;
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}

.owner-btn:hover {
  background-color: #810000;
}

.owner-btn:active {
  background-color: #810000;
}

.zolve-btn:hover {
  background-color: #b0b0b0;
}

.zolve-btn:active {
  background-color: #b0b0b0;
}

.btn-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-container,
.register-container,
.continue-container {
  width: 400px;
  margin: 0 auto;
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid white;
  padding-inline: 1.25rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  padding: 25px;
  background-color: rgba(240, 240, 240, 0.6);
}

.continue-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.store-container {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.register-container {
  height: 530px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.auth-form input {
  margin: 5px 0;
  padding: 5px;
  width: 400px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.auth-form button {
  cursor: pointer;
  background-color: #3c3c3c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 410px;
  height: 30px;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.3s;
  line-height: 10px;
}

.auth-form button:hover {
  opacity: 0.8;
}

.auth-form button:disabled {
  cursor: not-allowed;
}

.auth-form-label {
  width: 410px;
  font-weight: 500;
}

.login-input {
  color: rgb(0, 0, 0);
  height: 28px;
  width: 50px;
  background-color: none;
  border: none;
  outline: none;
  flex-grow: 1;
}

.input-box {
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
  margin-top: 20px;
  border-radius: 15px;
  align-items: center;
  padding: 5px;
}

.input-box i {
  position: absolute;
  margin-left: 380px;
  margin-top: -34px;
}

.auth-form-logo-container {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.logo-text {
  color: #000;
  font-family: "Roboto Slab", serif;
}

.auth-form-switch-label {
  color: #333333;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  padding-top: 5px;
}

.auth-form-switch-label:hover {
  opacity: 0.8;
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.dropzone-container p {
  margin: 0;
  text-align: center;
  color: #e9e8e8;
}

.img-preview {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  margin-top: 10px;
}

.terms-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  z-index: 999;
}

.terms-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.terms-modal h2 {
  margin-top: 0;
}

.terms-modal p {
  margin-bottom: 20px;
}

.terms-modal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.terms-modal button:hover {
  background-color: #0056b3;
}

.terms-and-conditions,
.privacy {
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
}

.privacy {
  margin-bottom: -15px;
}

.terms-and-conditions input[type="checkbox"],
.privacy input[type="checkbox"] {
  margin: 0;
  margin-top: 5px;
  width: 15px;
  cursor: pointer;
  margin-right: 10px;
}